@charset "UTF-8";

* {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif
    
    
}
header {
    background-color: #01161e;
    color: #AEC3B0;
    padding-top: 10px;
    height: 100px;
    text-align: center;

}
header > h1 {
    text-align: center;
    padding-top: 20px;
}
#navheader {
    background-color: #124549;
    padding: 7px;
}
#navheader > a {
    color: #AEC3B0;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}
#navheader > a:hover {
    background-color: #01161e;
}

.introducao {
    min-width: 300px;
    max-width: 1000px;
    background-color: #AEC3B0;
    margin: auto;
    padding: 25px;
    box-shadow: 0px 0px 7px #00000071;
    border-radius: 0px 0px 10px 10px;
}
.introducao h1 {
    color: #01161e;
    text-align: center;
    padding: 5px;
}
.introducao p {
    font-size: 18px;
    text-indent: 35px;
    color: #01161e;
}
.introducao  a {
    text-decoration: none;
    color: #01161e;
}
#img1 {
    height: 500px;
    width: 1050px;
    display: block;
    margin: auto;
    padding: 20
}

.vertical-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px;

}
.iconerede {
    height: 35px;
    width: 35px;
    padding-left: 35px;
    padding-bottom: 8px;
}

/* algumas id de raças.html estarão aparti dessa mensagem*/

#h2racas {
    text-align: center;
    padding: 10px;
    color: #01161e;;

}
iframe {
    display: block;
    margin: auto;
}
